.header {
  background-color: #263238;
  color: #eceff1;
  padding: 15px;
}

.home-button {
  box-shadow: 0 0px 8px 5px rgba(38, 50, 56, 0.36);
  color: #eceff1;
  display: inline;
  font-family: monospace;
  font-size: 28px;
  font-variant: none;
  letter-spacing: 3px;
  margin-left: 24px;
}
.home-button:hover {
  color: #eceff1;
  text-decoration: none;
}
.dropdown {
  display: inline-block;
  font-variant: all-petite-caps;
}
.header .home-button {
  color: #eceff1;
  transition: 0.3s;
}
.header .home-button:hover {
  text-decoration: none;
}
.home-span {
  font-size: 1px;
  transition: 0.2s;
}
.w-100 {
  font-size: 22px;
}
.drowDown-main {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.drowDown-main a{
  color: #fff;
  padding: 0px 15px;
  font-size: 19px;
  margin-bottom: 4px;
}
.dropDown-sub {
  position: relative;
}
.dropDown-Button {
  font-family: sans-serif;
  font-size: 18px;
  text-transform: capitalize;
  margin-right: 30px;
}
.drowpDown {
  background-color: white;
  box-shadow: 0 0px 0 2px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  border-top: none;
  color: #000 !important;
  display: block;
  font-size: 14px;
  position: absolute;
  top: 25px;
  right: 14px;
}
.drowpDown ul {
  padding: 0;
  margin: 0;
}
.drowpDown ul li {
  border-bottom: 0.5px solid #dadada;
  list-style: none;
  padding: 5px 20px 3px 5px;
  transition: 0.2s;
}
.drowpDown ul li:hover{
  background-color: #263238;
  color: #fff !important;
  cursor: pointer;
}