.teamName {
  max-inline-size: min-content;
  margin: 0 auto;
  padding-bottom: 12px;
}
.teamName li {
  font-size: 34px !important;
}
.error-div {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(38, 50, 56, 0.22);
}
.center-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.user-list {
  position: relative;
}
.user-list ul {
  background-color: #37474f;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  font-size: 1.2rem;
  padding: 25px 30px 20px 30px;
  text-align: center;
}
.user-list ul li {
  font-variant: all-petite-caps;
  list-style: none;
  font-size: 18px;
}
.user-list .team-name {
  font-size: 2rem;
  padding-bottom: 2rem;
  font-variant-caps: all-petite-caps;
}
.team-name {
  width: 55%;
  margin: 0 auto;
  justify-content: center;
  margin: 0 auto;
}
.slider-parent {
  text-align: center;
  position: relative;
  width: 25%;
  margin: 0 auto;
  margin-top: 50px;
}
.slider-parent .slider-main {
  background-color: rgb(204, 204, 204);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.55) 1px 1px 2px 0px;
  display: flex;
  position: absolute;
  top: -30px;
  transform: translate(-50%, 0%);
  height: 25px;
  width: 25px;
  justify-content: center;
}

.slider-parent button {
  margin: 15px 0;
}
/* On screens that are 992px or less */
@media screen and (max-width: 1365px) {
  .user-list ul {
    padding: 15px;
  }
  .team-name {
    width: 95%;
  }
}
.copy-button {
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.17);
  border: none;
  color: #fff;
  padding: 5px 9px;
  right: 20px;
  position: absolute;
  top: 5px;
  font-size: 12px;
  outline: none;
  transition: 0.2s;
}
.copy-button:hover {
  transform: scale(1.3);
  box-shadow: -1px 2px 3px 1px #0000001a;
}
.copied-toast {
  border: 1px solid #c1c1c1;
  position: absolute;
  width: 18%;
  top: 80px;
  right: 15px;
}
.delete-prompt {    background-color: #ce5757;
  zoom: 1.5;
}
.team-randomBtn {
  transition: 0.2s;
}
.team-randomBtn span {
  display: inline-block;
}
.team-randomBtn:hover span {
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
.team-randomBtn:hover span:nth-child(1) {
  animation-name: random1;
}
.team-randomBtn:hover span:nth-child(2) {
  animation-name: random2;
}
.team-randomBtn:hover span:nth-child(3) {
  animation-name: random3;
}
.team-randomBtn:hover span:nth-child(4) {
  animation-name: random4;
}
.team-randomBtn:hover span:nth-child(5) {
  animation-name: random5;
}
.team-randomBtn:hover span:nth-child(6) {
  animation-name: random6;
}
.team-randomBtn:hover span:nth-child(7) {
  animation-name: random7;
}
.team-randomBtn:hover span:nth-child(8) {
  animation-name: random8;
}
.team-randomBtn:hover span:nth-child(9) {
  animation-name: random9;
}
.team-randomBtn:hover span:nth-child(10) {
  animation-name: random10;
}
.team-randomBtn:hover span:nth-child(11) {
  animation-name: random11;
}
.team-randomBtn:hover span:nth-child(12) {
  animation-name: random12;
}
.team-randomBtn:hover span:nth-child(13) {
  animation-name: random13;
}

@keyframes random1 {
  20% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(0);
    transform: translateX(33px);
  }
}
@keyframes random2 {
  20% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(0);
    transform: translateX(17px);
  }
}
@keyframes random3 {
  20% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0);
    transform: translateX(-19px);
  }
}
@keyframes random4 {
  20% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0);
    transform: translateX(-20px);
  }
}
@keyframes random5 {
  50% {
    transform: translateY(10px);
  }

  100% {
    transform: rotate(0);
    transform: translateY(-50px);
  }
}
@keyframes random6 {
  20% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0);
    transform: translateX(37px);
  }
}
@keyframes random7 {
  20% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0);
    transform: translateX(37px);
  }
}
@keyframes random8 {
  20% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0);
    transform: translateX(-24px);
  }
}
@keyframes random9 {
  20% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0);
    transform: translateX(-8px);
  }
}
@keyframes random10 {
  20% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0);
    transform: translateX(19px);
  }
}
@keyframes random11 {
  20% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0);
    transform: translateX(-48px);
  }
}
@keyframes random12 {
  20% {
    transform: rotate(0);
  }

  100% {
    transform: translateX(1px);
  }
}
@keyframes random13 {
  20% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0);
    transform: translateX(-21px);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* On screens that are 992px or less */
@media screen and (max-width: 1810px) {
  .team-name {
    width: 70%;
  }
}
@media screen and (max-width: 1600px) {
  .copy-button {
    top: 0;
    right: 16px;
  }
  .team-name {
    width: 65%;
  }
  .user-list ul {
    padding: 15px;
  }
  .register {
    width: 60%;
  }
}
/* On screens that are 992px or less */
@media screen and (max-width: 900px) {
  .user-list {
    max-width: 30%;
  }
}
