.add-class{
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    width: 90%;
}
.add-class button{
    margin: 10px 15px;
    font-weight: 700;
}
.card{
    -webkit-box-shadow: 2px 2px 3px -1px rgba(122,122,122,0.49);
}
.modal-body input{
    display: inline-block;
    width: auto;
    margin: 0 10px;
}

.designation-group{
    display: flex;
    margin: 20px auto;
    justify-content: center;
    width: 70%;
}
.designation-group button{
    border: 1px solid #000;
    margin: 2px;
}

.card-title{
    font-size: 2.3em;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: monospace;
    font-variant: all-petite-caps;
    text-shadow: 2px 2px 3px #00000033;
}
.card-body{
    position: relative;
}
.designation-icon {
    color: #42484e;
    position: absolute;
    font-size: 24px;
    filter: opacity(0.8);
    right: 2%;
    top: 4%;
}